<div class="page-container">

  <div class="header">
    <h4>Peritajes</h4>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Buscar por código..."
          formControlName="filtroCodigo" 
          
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Buscar por asegurado..."
          formControlName="filtroAsegurado"
          
        />
      </mat-form-field>
      
      <button mat-raised-button color="primary"
              routerLink="/peritajes/nuevo">
        Nuevo Peritaje
      </button>
    </form>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let s">
        {{ s.codigo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="asegurado">
      <th mat-header-cell *matHeaderCellDef>Asegurado</th>
      <td mat-cell *matCellDef="let s">
        {{ s.nombre_asegurado }}
      </td>
    </ng-container>

    <ng-container matColumnDef="vehiculo">
      <th mat-header-cell *matHeaderCellDef>Vehículo</th>
      <td mat-cell *matCellDef="let s">
        {{ s.placa }}
      </td>
    </ng-container>

    <ng-container matColumnDef="perito">
      <th mat-header-cell *matHeaderCellDef>Perito</th>
      <td mat-cell *matCellDef="let s">
        {{ s.nombre_perito }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let s">
        {{ s.fecha | date:'short' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalles">
      <th mat-header-cell *matHeaderCellDef>Detalles</th>
      <td mat-cell *matCellDef="let s">
        {{ s.detalles }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let s">
        <button mat-icon-button color="primary" *ngIf="s?.estado === 'Iniciado'"
                [routerLink]="['/peritajes/editar', s.id]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator 
          [length]="totalElements"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          (page)="onPageChange($event)">
        </mat-paginator>
</div>