.search-field {
  width: 220px;
  font-size: 12px;
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 6px;
  margin-right: 5px;
}

.search-field mat-icon {
  font-size: 18px;
}