<div class="page-container">

  <h1 *ngIf="!mostrarDetalle" class="title">Asegurados</h1>

  <div *ngIf="!mostrarDetalle" class="card">

    <div class="card-header">
      <mat-form-field appearance="outline" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Buscar por identificación..."
          [(ngModel)]="filtroIdentificacion"
          (keyup)="buscarAsegurado()"
        />
      </mat-form-field>

      <button 
        mat-stroked-button 
        color="primary"
        (click)="irNuevo()">
        +
      </button>
    </div>

    <div class="card-body">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef> Nombres </th>
            <td mat-cell *matCellDef="let v"> {{ v.nombres }} </td>
        </ng-container>

        <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef> Identificación </th>
            <td mat-cell *matCellDef="let v"> {{ v.identificacion }} </td>
        </ng-container>

        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Aseguradora </th>
            <td mat-cell *matCellDef="let v"> {{ v.empresa.nombre }} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Dirección </th>
            <td mat-cell *matCellDef="let v"> {{ v.direccion }} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> F. Creación </th>
            <td mat-cell *matCellDef="let v"> {{ v.fecha_creacion }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let v">

            <button mat-icon-button color="primary" (click)="editar(v)">
            <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="primary" (click)="verDetalle(v)">
            <mat-icon>visibility</mat-icon>
            </button>

        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator 
          [length]="totalElements"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          (page)="onPageChange($event)">
        </mat-paginator>
    </div>

  </div>

  <div *ngIf="mostrarDetalle" class="detalle-container">

    <button mat-stroked-button color="primary" (click)="volver()" class="back-btn">
        ←
    </button>
    
    <mat-card *ngIf="mostrarDetalle" class="detalle-card">

    <h3>{{ aseguradoSeleccionado.identificacion }} - {{ aseguradoSeleccionado.nombres }}</h3>

    <p><b>Fecha Ingreso:</b> {{ aseguradoSeleccionado.fecha_creacion }}</p>
    <p><b>Teléfono:</b> {{ aseguradoSeleccionado.telefono }}</p>
    <p><b>Celular:</b> {{ aseguradoSeleccionado.celular }}</p>
    <p><b>Dirección:</b> {{ aseguradoSeleccionado.direccion }}</p>

    <h4>Aseguradora</h4>

    <h3>{{ aseguradoSeleccionado.empresa.nombre }}</h3>

    <h4>Vehiculos</h4>

    <table mat-table [dataSource]="vehiculosDataSource">

        <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef>Placa</th>
        <td mat-cell *matCellDef="let c">{{ c.placa }}</td>
        </ng-container>

        <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>Marca</th>
        <td mat-cell *matCellDef="let c">{{ c.marca }}</td>
        </ng-container>

        <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>Modelo</th>
        <td mat-cell *matCellDef="let c">{{ c.modelo }}</td>
        </ng-container>

        <ng-container matColumnDef="anio_fabricacion">
        <th mat-header-cell *matHeaderCellDef>Año</th>
        <td mat-cell *matCellDef="let c">{{ c.anio_fabricacion }}</td>
        </ng-container>

        <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let c">{{ c.color }}</td>
        </ng-container>

        <ng-container matColumnDef="fechacaducidad">
        <th mat-header-cell *matHeaderCellDef>F. Caducidad</th>
        <td mat-cell *matCellDef="let c">{{ c.fechaCaducidad }}</td>
        </ng-container>

        <ng-container matColumnDef="fechamatricula">
        <th mat-header-cell *matHeaderCellDef>F. Matricula</th>
        <td mat-cell *matCellDef="let c">{{ c.fechaMatricula }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['placa','marca', 'modelo', 'anio_fabricacion', 'color', 'fechacaducidad', 'fechamatricula']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['placa','marca', 'modelo', 'anio_fabricacion', 'color', 'fechacaducidad', 'fechamatricula'];"></tr>

    </table>

</mat-card>
  </div>

</div>