<div class="page-container">

  <h1 class="title">Vehículos</h1>

  <div *ngIf="!mostrarDetalle" class="card">

    <div class="card-header">
      <mat-form-field appearance="outline" class="search-field">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Buscar por placa..."
          [(ngModel)]="filtroPlaca"
          (keyup)="buscarAuto()"
        />
      </mat-form-field>
    </div>

    <div class="card-body">

      <table mat-table [dataSource]="dataSource">

        <!-- PLACA -->
        <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef> Placa </th>
            <td mat-cell *matCellDef="let v"> {{ v.placa }} </td>
        </ng-container>

        <!-- MARCA -->
        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Marca </th>
            <td mat-cell *matCellDef="let v"> {{ v.marca }} </td>
        </ng-container>

        <!-- MODELO -->
        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let v"> {{ v.modelo }} </td>
        </ng-container>

        <!-- COLOR -->
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef> Color </th>
            <td mat-cell *matCellDef="let v"> {{ v.color }} </td>
        </ng-container>

        <!-- AÑO -->
        <ng-container matColumnDef="anio">
            <th mat-header-cell *matHeaderCellDef> Año </th>
            <td mat-cell *matCellDef="let v"> {{ v.anio_fabricacion }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let v">

            <button mat-icon-button color="primary" (click)="verDetalle(v)">
            <mat-icon>visibility</mat-icon>
            </button>

        </td>
        </ng-container>

        <!-- HEADER + ROWS -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </div>

  </div>

  <div *ngIf="mostrarDetalle" class="detalle-container">

    <button class="back-btn" (click)="volver()">
      ←
    </button>
    
    <mat-card *ngIf="mostrarDetalle" class="detalle-card">

    <h3>{{ vehiculoSeleccionado.placa }} - {{ vehiculoSeleccionado.marca }}</h3>

    <p><b>Modelo:</b> {{ vehiculoSeleccionado.modelo }}</p>
    <p><b>Color:</b> {{ vehiculoSeleccionado.color }}</p>
    <p><b>Año:</b> {{ vehiculoSeleccionado.anio_fabricacion }}</p>

    <h4>Citaciones</h4>

    <table mat-table [dataSource]="citacionesDataSource">

        <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let c">{{ c.descripcion }}</td>
        </ng-container>

        <ng-container matColumnDef="entidad">
        <th mat-header-cell *matHeaderCellDef>Entidad</th>
        <td mat-cell *matCellDef="let c">{{ c.entidad }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaemision">
        <th mat-header-cell *matHeaderCellDef>F. Emisión</th>
        <td mat-cell *matCellDef="let c">{{ c.fechaEmision }}</td>
        </ng-container>

        <ng-container matColumnDef="fechavencimiento">
        <th mat-header-cell *matHeaderCellDef>F. Venc.</th>
        <td mat-cell *matCellDef="let c">{{ c.fechaVencimiento }}</td>
        </ng-container>

        <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let c">{{ c.valor }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['descripcion', 'entidad', 'fechaemision', 'fechavencimiento', 'valor']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['descripcion', 'entidad', 'fechaemision', 'fechavencimiento', 'valor'];"></tr>

    </table>

</mat-card>
  </div>

</div>