<div class="overlay" *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="60">
  </mat-progress-spinner>
</div>

<mat-sidenav-container class="container">

  <mat-sidenav
    mode="side"
    [opened]="true"
    [style.width.px]="isCollapsed ? 70 : 220"
    class="sidenav">

    <!-- HEADER -->
    <div class="sidebar-header">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>

      <span *ngIf="!isCollapsed">SRGS</span>
    </div>

    <mat-nav-list>

      <a mat-list-item routerLink="/empresas">
        <mat-icon matListItemIcon>person</mat-icon>
        <span>Aseguradoras</span>
      </a>

      <a mat-list-item routerLink="/asegurados">
        <mat-icon matListItemIcon>person</mat-icon>
        <span>Asegurados</span>
      </a>

      <a mat-list-item routerLink="/peritajes">
        <mat-icon matListItemIcon>search</mat-icon>
        <span>Peritajes</span>
      </a>

      <a mat-list-item routerLink="/siniestros">
        <mat-icon matListItemIcon>person</mat-icon>
        <span>Siniestros</span>
      </a>

      <a mat-list-item routerLink="/vehiculos">
        <mat-icon matListItemIcon>person</mat-icon>
        <span>Vehiculos</span>
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <span>SRGS System</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>